.header
{
	width: 300px;
	height: 100px;
	background: #724c93;
	color: white;
}

.content
{
	width: 300px;
	background: #28634f;
	color: white;
}

.block1
{	
	display: inline;
	width: 200px;
	background: #3341c3;
	color: white;
}

.block2
{
	display: inline;
	width: 200px;
	background: #33c1c3;
	color: white;
}

.block3
{	
	display: inline;
	width: 200px;
	background: #9c771d;
	color: white;
}

.footer
{
	width: 300px;
	height: 100px;
	background: #724c93;
	color: white;
}